<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
   <header class="header">
    <nav class="header__nav">
        <div>
            <a href="/views/detail.html">
                <img src="/storage/img/back.svg" alt="">
            </a>
        </div>
        <div>Checkout</div>
        <div>
            <img src="/storage/img/sidebar.svg" alt="">
        </div>
    </nav>
   </header>
   <main class="main">
    <section class="checkout">
        <article class="detail__product">
            <div class="product__image">
                <img src="/storage/img/img3.png" alt="">
            </div>
            <div class="product__description">
            <h5>Modern light clothes</h5>
            <small>Dress modern</small>
            <span>$212.99</span>
        </div>
        <div class="product__custom">
            <img src="/storage/img/option.svg" alt="">
            <div class="product__select">
                <img src="/storage/img/minusCheckout.svg" alt="">
                <span>4</span>
                <img src="/storage/img/plusCheckout.svg" alt="">
            </div>
        </div>
        </article>
    </section>
   </main>
</body>
</html>